/* HomePage.css */

/* 

Indigo dye: #023A4E
Caffeine-free Pepsi: #E6B021
Crayola bright pink: #EF476F
Anti-flash white: #EBEBEB
White: #FFFFFF

*/

/* Global styles */
body {
    font-family: 'Helvetica', sans-serif;
    background-color: #EBEBEB;
    color: #333;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Container styles */
  .container {
    max-width: 80%;
    margin: 0 auto;
    padding: 80px;
  }
  
  /* Header styles */
  h1 {
    color: #1e024b;
  }
  
  /* Sign-in/sign-up form styles */
  form {
    margin-bottom: 20px;
  }
  